<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div ng-controller="myControl">
My name is {{name}} <br/>
My age is {{age}}<br/>
I am {{sex}}<br />
    <div ng-repeat="m in movies">
        {{m}}
    </div>

    <div ng-repeat="d in drinks">
        {{d}}
    </div>
    <br />

    <button ng-click="clickFun()">check me!</button>
    <div>{{checkClick}}</div>
    <br />

    <button id="btn2">check me again</button>
    <div>{{checkClick2}}</div>

</div>










<script src="node_modules/angular/angular.js"></script>
<script>
    var myApp = angular.module('myApp', []);

    myApp.controller('myControl', ['$scope', function($scope){
        $scope.name = "Charlie";
        $scope.age = 25;
        $scope.sex = "male";

        $scope.movies = ["facebook", "super man", "iron man", "hangover"];

        $scope.drinks = {name: "Starbucks", coffee: "black", sugar: "none"};

        $scope.checkClick = "no clicked";
        $scope.checkClick2 = "no clicked 2";

        $scope.clickFun = function(){
            $scope.checkClick = "clicked";
        };

        var btn2 = document.getElementById('btn2');
        btn2.addEventListener('click', function(){
            $scope.checkClick2 = "clicked 2";
            $scope.$apply(); //watch list
        });
    }]);

</script>
</body>
</html>